
/* Task 2: Temperature Converter */
body{
    margin: 0 auto;
    padding: 0;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;

}
#container{
    width: 380px;
    height: 570px;
    font-size: initial;
    margin: 15px;
    padding: 15px;
    background-color: blueviolet;
    border-radius: 15px;
    text-align:center;
    line-height: 1.4;
}
h1{
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0;
    padding: 10px;
}
label{


padding: 10px;
background-color: darkgray;
border-radius: 10px;
border: 2px solid black;
}
button{
    background-color: chocolate;
    /* float: left; */
    text-align: center;
    width: 150px;
    font-size: 20px;
    height: 40px;
}
input{
    width: 150px;
    height: 70px;

}
input::-webkit-input-placeholder{
    text-transform: capitalize;
    height: 50px;
    font-size: x-large;
    font-weight: 100px;
}
button:hover{
    background-color: cadetblue;
    cursor: pointer;
}
#result{
    background-color: rgb(197, 240, 6);
    border-radius: 10px;
    margin: auto ;
    height: 190px;
    color: black;
    text-align: left;
    font-weight: 50px;
    padding: 8px;
    font-size: 25px;

    
}